<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
    <title>{{ par }}</title>
</head>
<body>
    <div style="background-color:#e6e6e6; height: 60px;">
        <h1 style="line-height: 60px; display: inline-block;">Миссия Колонизация Марса</h1>
        <div style="width: 50%;display: inline-block;"></div>
        <p style="display: inline-block;">Mars one</p>
    </div>
    <div>
        <h4>И на Марсе будут яблони цвести!</h4>
    </div>
    {% block content %}{% endblock %}
</body>
</html>