<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
    <title>Выбор</title>
</head>
<body>
    <h1 style="padding: 10px;">Моё предложение: <b>{{ planet }}</b></h1>   
    <h2>Эта планета относительно близко к земле</h2>
    <h2 class="bg-success">На ней много ресурсов</h2>
    <h2 class="bg-info">На ней есть небольшое магнитное поле</h2>
    <h2 class="bg-warning">Она достаточно изучена</h2>
    <h2 class="bg-danger">Наконец она просто красива!</h2>

</body>
</html>